
# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Backup files
*.bak

# If using NetBeans
nbproject/

# If using PyCharm
.idea/

# If using VS Code
.vscode/

# Submission files
submission/
